language: cpp
compiler: gcc
os: linux
dist: trusty
addons:
  apt:
    update: true

script:
  - sed -i '/NO_EXIT_RUNTIME=1/a \ \ \ \ -s NO_DYNAMIC_EXECUTION=1\ \\' libheif/build-emscripten.sh
  - cat libheif/build-emscripten.sh
  - ./travis-build.sh
  - cd $TRAVIS_BUILD_DIR
  - ls -la libheif
  - ./travis-dist.sh
  - ls -la dist
